<% provide(:title, "About") %>
<h1>About</h1>
<p>
  This application is a simple film database. The main feature is film recommendation.
  All data about films and people come from <a href="https://www.themoviedb.org/"><em>The movie database</em></a>.
</p>