<div class="center jumbotron">
  <h1>Welcome to the WishFilm!</h1>

  <h2>
    Do you want to watch some film, but you don't know which? Let this app help you!
  </h2>

  <%= link_to "Sign up", signup_path, class: "btn btn-lg btn-primary" %>
</div>