<% provide(:title, @actor.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @actor.name %>
      </h1>
      <p>Date of birth: <%= @actor.date_of_birth%></p>
      <p>Biography: <%= @actor.biography%> </p>
    </section>
  </aside>
</div>
