<% provide(:title, @actor.name) %>
<div class="row">
    <section class="actor_info">
      <h1>
        <%= @actor.name %>
      </h1>
      <p>Date of birth: <%= @actor.birthday%></p>
      <p>Biography: <%= @actor.biography%> </p>
      <p>Films:</p>
      <% @films = Tmdb::Person.movie_credits(@actor.id).cast %>

      <% @films.each do |f| %>
          <p><%= link_to f.title, film_path(:id => f.id) %></p>
      <% end %>

    </section>
</div>
