<% provide(:title, 'Recommendations') %>
<h1>Recommendations</h1>


<ul class="recommendations">

  <% @films.each do |film| %>
      <li><%= link_to @hash_films[film], film_path(:id => film) %></li>
  <% end %>

</ul>