<% provide(:title, @user_film.film.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= link_to @user_film.film.name, film_url(@user_film.film_id) %>
      </h1>
      <p>Rating: <%= @user_film.rating %>
      <div>Seen at: <%= @user_film.seen_at %></p>
    </section>
  </aside>
</div>