<% provide(:title, Tmdb::Movie.detail(@user_film.film_id).title) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= link_to Tmdb::Movie.detail(@user_film.film_id).title, film_path(@user_film.film_id) %>
      </h1>
      <p>Rating: <%= @user_film.rating %>
      <div>Seen at: <%= @user_film.seen_at %></p>
    </section>
  </aside>
</div>