<% provide(:title, @director.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="director_info">
      <h1>
        <%= @director.name %>
      </h1>
      <p>Date of birth: <%= @director.birthday %></p>
      <p>Biography: <%= @director.biography %> </p>
      <p>Films:</p>
      <% @films = Tmdb::Person.movie_credits(@director.id).crew %>

      <% @films.each do |f| %>
          <p><%= link_to f.title, film_path(:id => f.id) %></p>
      <% end %>
    </section>
  </aside>
</div>