<% provide(:title, params[:genre]) %>
<h1><%= params[:genre] %></h1>


<ul class="film_genres">
  <% @film_genres.results.each do |film| %>
      <li><%= link_to film.title, film_path(:id => film.id) %></li>
  <% end %>
</ul>